<h1>ABC Wine Distributors</h1>

<h2>Product List</h2>

<ul>
  <% @products.each do |product| %>
    <li><a href="<%=product_url(product)%>"><%=product.name%></a> - <a href="<%=edit_product_url(product)%>">edit</a></li>
  <% end %>
</ul>

<a href="<%= new_product_url%>"> Add a new product</a>
